body {
    background: #ddd;
}
h2 {
    background-color: #337ab7;
    color: #fff;
}
.container {
    background-color: #fff;
    max-width: 1000px;
}
#digital_transfers_btn{
    background: #fff url(/images/digitalprint.png) no-repeat;
    background-size: cover;
    height: 170px;
    width: 220px;
}
#cadcut_transfers_btn{
    background:#fff url(/images/cadcut.png) no-repeat;
    background-size: cover;
    height: 170px;
    width: 220px;
}