body {
    background: #ddd;
}
h2 {
    background-color: #337ab7;
    color: #fff;
}
.container {
    background-color: #fff;
    max-width: 1000px;
}
#digital_transfers_btn{
    background-image: url();
}
#cadcut_transfers_btn{

}