body {
    background: #ddd;
}
h2 {
    background-color: #337ab7;
    color: #fff;
}
p {
    margin:1rem 0;
}
.container {
    background-color: #fff;
    margin: auto;
    max-width: 1000px;
    text-align: center;
}
section{
    width: 100%;
}
.row{
    margin-left:auto;
    margin-right:auto;
}
.gap-1{
    gap:0.25rem;
}
.gap-2{
    gap:0.5rem;
}
.gap-3{
    gap:0.75rem;
}
.gap-4{
    gap:1rem;
}
.hide{
    display: none !important;
}
.show{
    display: block !important;
}
#digital_transfers_sec h3{
    font-size: 1.5rem;
}
#digital_transfers_btn{
    background: #fff url(/images/digitalprint.png) no-repeat;
    background-size: cover;
    height: 170px;
    width: 220px;
}
#cadcut_transfers_btn{
    background:#fff url(/images/cadcut.png) no-repeat;
    background-size: cover;
    height: 170px;
    width: 220px;
}
.filter-btn{
    background-color: #ddd;
    border: 2px solid #fff;
    font-size: 0.8rem;
    margin:auto 2px;
    transition: 0.15s ease-in-out;
}
.filter-btn:hover,.filter-btn:active,.filter-btn:focus,.filter-btn:focus-within,.filter-btn.active{
    border:2px solid #337ab7;
}
.digi-btn:hover,.digi-btn:active,.digi-btn:focus,.digi-btn:focus-within, .digi-btn.active{
    border:2px solid #337ab7;
}
.digi-btn{
    border:2px solid #aaa;
    border-radius: 5px;
    background-color: #fff;
    display: none;
    min-width:250px;
}
.digi-dimensions{
    display:none;
}
.digi-dimensions label{
    margin:auto 15px;
}
#width, #height{
    max-width:100px
}
.digi-cost .text-right>p {
    font-weight: bold;
}